@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wingtip Tickets SaaS Provider</h1>
    <p class="lead">Begin earning affiliate revenue with Wingtip Tickets providing event listings, ticket prices and sales to your valuable customers.</p>
    <p><a href="https://asp.net" class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<style type="text/css">
    .row {
        margin-right:0px;
    }
    .col-md-4 {
        padding-left: 0px;
    }
</style>

<!-- Plans -->
<section id="plans">
    <div class="container">
        <div class="row">
            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plan 1</h3>
                        <h4>Sharded Multi-tenant</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$10 / Month</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Business use</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Unlimited events</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 24/7 support</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> &nbsp;</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-warning" href=''>BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plan 2</h3>
                        <h4>Database Per Tenant</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$20 / Month</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Business use</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Unlimited events</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 24/7 support</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> &nbsp;</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-warning" href=''>BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plan 3</h3>
                        <h4>Standalone App</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$30 / Month</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Business use</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Unlimited events</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Custom Domain</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 24/7 support</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-warning" href='@Url.Action("Tenant", "Home", new { id = 3, planName="Plan 3" })'>BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
        </div>
    </div>
</section>
<!-- /Plans -->